body{
	padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A5AB4;
    font-family: Arial, Helvetica, sans-serif;
    
}
.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}

#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: rgb(71, 69, 233);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}

/* page header start */
.header-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background: linear-gradient(90deg, rgba(90,90,180,1) 15%, rgba(0,212,255,1) 89%);
    color: white;
    padding: 50px;
}

h1 {
    font-size: 50px;
}

.header-h2 {
    font-size: 30px;
    margin-bottom: 4em;
}

/* page header end*/

/* between header and quiz containter start*/
.center-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    color: white;
}

h2 {
    margin: 1em;
}
/* between header and quiz containter end*/

/* quiz container start */

.main-body {
width: 90%;
}

.quiz-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.FixedHeightContainer
{
    padding: 15px;
    width: 90%;
    height: 600px;
    overflow: scroll;
    border: 1px solid #ccc;
    overflow-y: scroll;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 2px;
}

/*SCROLLBAR MODIFICATIONS start*/

.FixedHeightContainer::-webkit-scrollbar {
    width: 8px;
}

.FixedHeightContainer::-webkit-scrollbar-thumb {
    background: #909090;
}
.FixedHeightContainer::-webkit-scrollbar-track {
    background: #FFFFFF;
}
/*SCROLLBAR MODIFICATIONS end*/

.question {
    font-size: larger;
    display: flex;
    justify-content: flex-start;
    padding-left: 30%;
    margin-bottom: 10px;
}

.answers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30%;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#results {
    font-size: 20px;
}

/* quiz container end */

/* webpage footer section start */
.webpage-footer {
    background: linear-gradient(90deg, rgba(90,90,180,1) 15%, rgba(0,212,255,1) 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    height: 200px;
    color: white;
}
/* webpage footer section end */

/*Media Query start*/
@media screen and (min-width: 320px) and (max-width: 740px) {
    .header-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 330px;
        background: linear-gradient(90deg, rgba(90,90,180,1) 15%, rgba(0,212,255,1) 89%);
        color: white;
        padding: 50px;
    }

    .question {
        font-size: larger;
        display: flex;
        justify-content: flex-start;
        padding-left: 1%;
        margin-bottom: 10px;
    }

    .answers {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 1%;
    }

    footer {
        margin-left: 1em;
    }
 
  }

  /*Media Query End*/