body{
	padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}

#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}

/* page header start */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    background-color: lightblue;
    margin-bottom: 1em;
    padding-top: 75px;
    
}

/* page header end*/

/* between header and quiz containter start*/
.center-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* between header and quiz containter end*/

/* quiz container start */
.main-body {
width: 90%;
}

.quiz-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FixedHeightContainer
{
    padding: 15px;
    width: 50%;
    height: 600px;
    overflow: scroll;
    border: 1px solid #ccc;
    overflow-y: scroll;
    
}

/*SCROLLBAR MODIFICATIONS*/

.FixedHeightContainer::-webkit-scrollbar {
    width: 8px;
}

.FixedHeightContainer::-webkit-scrollbar-thumb {
    background: #909090;
}
.FixedHeightContainer::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.question {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.answers {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quiz container end */

/* webpage footer section start */
.webpage-footer {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
/* webpage footer section end */